In [1]:
# setting up the enviroment

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline

In [9]:
# displaying the data

weather_data= pd.read_csv("C:/Users/Boston/Documents/weatherww2/SummaryofWeather.csv")
weather_data.head()

C:\Users\Boston\Anaconda3a\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (7,8,18,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,1942-7-1,1.016,NaN,25.555556,22.222222,23.888889,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,1942-7-2,0,NaN,28.888889,21.666667,25.555556,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,1942-7-3,2.54,NaN,26.111111,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,1942-7-4,2.54,NaN,26.666667,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,1942-7-5,0,NaN,26.666667,21.666667,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# checking indexs

index = weather_data.index
index

RangeIndex(start=0, stop=119040, step=1)

In [13]:
# checking columns

columns = movie.columns
columns

Index(['STA', 'Date', 'Precip', 'WindGustSpd', 'MaxTemp', 'MinTemp',
       'MeanTemp', 'Snowfall', 'PoorWeather', 'YR', 'MO', 'DA', 'PRCP', 'DR',
       'SPD', 'MAX', 'MIN', 'MEA', 'SNF', 'SND', 'FT', 'FB', 'FTI', 'ITH',
       'PGT', 'TSHDSBRSGF', 'SD3', 'RHX', 'RHN', 'RVG', 'WTE'],
      dtype='object')

In [16]:
data = weather_data.values
data

array([[10001, '1942-7-1', '1.016', ..., nan, nan, nan],
       [10001, '1942-7-2', '0', ..., nan, nan, nan],
       [10001, '1942-7-3', '2.54', ..., nan, nan, nan],
       ...,
       [82506, '1945-12-29', '0', ..., nan, nan, nan],
       [82506, '1945-12-30', '0', ..., nan, nan, nan],
       [82506, '1945-12-31', '0', ..., nan, nan, nan]], dtype=object)

In [17]:
type(index)

pandas.indexes.range.RangeIndex

In [18]:
type(columns)

pandas.indexes.base.Index

In [19]:
type(data)

numpy.ndarray

In [21]:
issubclass(pd.RangeIndex,pd.Index)

True

In [23]:
# numpy arrays are highly related to pandas for instance are both  numpy arrays

index.values
columns.values

array(['STA', 'Date', 'Precip', 'WindGustSpd', 'MaxTemp', 'MinTemp',
       'MeanTemp', 'Snowfall', 'PoorWeather', 'YR', 'MO', 'DA', 'PRCP',
       'DR', 'SPD', 'MAX', 'MIN', 'MEA', 'SNF', 'SND', 'FT', 'FB', 'FTI',
       'ITH', 'PGT', 'TSHDSBRSGF', 'SD3', 'RHX', 'RHN', 'RVG', 'WTE'],
      dtype=object)

In [25]:
#this tells us the data type of each column

weather_data.dtypes

STA              int64
Date            object
Precip          object
WindGustSpd    float64
MaxTemp        float64
MinTemp        float64
MeanTemp       float64
Snowfall        object
PoorWeather     object
YR               int64
MO               int64
DA               int64
PRCP            object
DR             float64
SPD            float64
MAX            float64
MIN            float64
MEA            float64
SNF             object
SND            float64
FT             float64
FB             float64
FTI            float64
ITH            float64
PGT            float64
TSHDSBRSGF      object
SD3            float64
RHX            float64
RHN            float64
RVG            float64
WTE            float64
dtype: object

In [26]:
weather_data.get_dtype_counts()

float64    20
int64       4
object      7
dtype: int64

# Selecting a single column / Series

In [27]:
# method 1

weather_data['Date']

0           1942-7-1
1           1942-7-2
2           1942-7-3
3           1942-7-4
4           1942-7-5
5           1942-7-6
6           1942-7-7
7           1942-7-8
8           1942-7-9
9          1942-7-10
10         1942-7-11
11         1942-7-12
12         1942-7-13
13         1942-7-14
14         1942-7-15
15         1942-7-16
16         1942-7-17
17         1942-7-18
18         1942-7-19
19         1942-7-20
20         1942-7-21
21         1942-7-22
22         1942-7-23
23         1942-7-24
24         1942-7-25
25         1942-7-26
26         1942-7-27
27         1942-7-28
28         1942-7-29
29         1942-7-30
             ...
119010     1945-12-2
119011     1945-12-3
119012     1945-12-4
119013     1945-12-5
119014     1945-12-6
119015     1945-12-7
119016     1945-12-8
119017     1945-12-9
119018    1945-12-10
119019    1945-12-11
119020    1945-12-12
119021    1945-12-13
119022    1945-12-14
119023    1945-12-15
119024    1945-12-16
119025    1945-12-17
119026    1945-12-18
119027    1945-12-19
119028    1945-12-20
119029    1945-12-21
119030    1945-12-22
119031    1945-12-23
119032    1945-12-24
119033    1945-12-25
119034    1945-12-26
119035    1945-12-27
119036    1945-12-28
119037    1945-12-29
119038    1945-12-30
119039    1945-12-31
Name: Date, dtype: object

In [28]:
# method 2

weather_data.Date

0           1942-7-1
1           1942-7-2
2           1942-7-3
3           1942-7-4
4           1942-7-5
5           1942-7-6
6           1942-7-7
7           1942-7-8
8           1942-7-9
9          1942-7-10
10         1942-7-11
11         1942-7-12
12         1942-7-13
13         1942-7-14
14         1942-7-15
15         1942-7-16
16         1942-7-17
17         1942-7-18
18         1942-7-19
19         1942-7-20
20         1942-7-21
21         1942-7-22
22         1942-7-23
23         1942-7-24
24         1942-7-25
25         1942-7-26
26         1942-7-27
27         1942-7-28
28         1942-7-29
29         1942-7-30
             ...
119010     1945-12-2
119011     1945-12-3
119012     1945-12-4
119013     1945-12-5
119014     1945-12-6
119015     1945-12-7
119016     1945-12-8
119017     1945-12-9
119018    1945-12-10
119019    1945-12-11
119020    1945-12-12
119021    1945-12-13
119022    1945-12-14
119023    1945-12-15
119024    1945-12-16
119025    1945-12-17
119026    1945-12-18
119027    1945-12-19
119028    1945-12-20
119029    1945-12-21
119030    1945-12-22
119031    1945-12-23
119032    1945-12-24
119033    1945-12-25
119034    1945-12-26
119035    1945-12-27
119036    1945-12-28
119037    1945-12-29
119038    1945-12-30
119039    1945-12-31
Name: Date, dtype: object

In [29]:
type(weather_data.Date) # dot notation is prone to error and missuse , cannot handle special characters or spaces

pandas.core.series.Series

In [31]:
date = weather_data["Date"]
date.name

'Date'

In [32]:
# we can change the one-column Dataframe with the to_frame method

date.to_frame()

              Date
0         1942-7-1
1         1942-7-2
2         1942-7-3
3         1942-7-4
4         1942-7-5
5         1942-7-6
6         1942-7-7
7         1942-7-8
8         1942-7-9
9        1942-7-10
10       1942-7-11
11       1942-7-12
12       1942-7-13
13       1942-7-14
14       1942-7-15
15       1942-7-16
16       1942-7-17
17       1942-7-18
18       1942-7-19
19       1942-7-20
20       1942-7-21
21       1942-7-22
22       1942-7-23
23       1942-7-24
24       1942-7-25
25       1942-7-26
26       1942-7-27
27       1942-7-28
28       1942-7-29
29       1942-7-30
...            ...
119010   1945-12-2
119011   1945-12-3
119012   1945-12-4
119013   1945-12-5
119014   1945-12-6
119015   1945-12-7
119016   1945-12-8
119017   1945-12-9
119018  1945-12-10
119019  1945-12-11
119020  1945-12-12
119021  1945-12-13
119022  1945-12-14
119023  1945-12-15
119024  1945-12-16
119025  1945-12-17
119026  1945-12-18
119027  1945-12-19
119028  1945-12-20
119029  1945-12-21
119030  1945-12-22
119031  1945-12-23
119032  1945-12-24
119033  1945-12-25
119034  1945-12-26
119035  1945-12-27
119036  1945-12-28
119037  1945-12-29
119038  1945-12-30
119039  1945-12-31

[119040 rows x 1 columns]

# Series methods

In [33]:
# we can use dir function to view the amount of methods and attributes of a series

s_attr_methods = set(dir(pd.Series))
len(s_attr_methods)

418

In [34]:
# we can also use dir function to view the amount of methods and attribute of a Dataframe

df_attr_methods = set(dir(pd.DataFrame))
len(df_attr_methods)

425

In [36]:
# the similar method and attributes between Series and Dataframes

len(s_attr_methods & df_attr_methods )

350

In [38]:
date = weather_data["Date"]
Max_temp = weather_data["MaxTemp"]

In [39]:
date.head()

0    1942-7-1
1    1942-7-2
2    1942-7-3
3    1942-7-4
4    1942-7-5
Name: Date, dtype: object

In [40]:
Max_temp.head()

0    25.555556
1    28.888889
2    26.111111
3    26.666667
4    26.666667
Name: MaxTemp, dtype: float64

In [41]:
# the data type of the series usually tells us what methods we can expect to use

date.value_counts()

1945-4-26     122
1945-4-19     122
1945-4-24     122
1945-4-22     122
1945-4-25     122
1945-4-23     122
1945-4-29     122
1945-4-20     122
1945-4-27     122
1945-4-16     122
1945-4-17     122
1945-4-14     121
1945-4-18     121
1945-4-12     121
1945-4-6      121
1945-4-11     121
1945-4-1      121
1945-4-21     121
1945-4-13     121
1945-3-12     121
1945-4-5      121
1945-3-11     121
1945-4-2      121
1945-4-28     121
1945-3-17     120
1945-3-23     120
1945-3-13     120
1945-4-4      120
1945-3-25     120
1945-4-15     120
             ...
1940-1-12       3
1940-1-25       3
1940-1-22       3
1940-1-18       3
1940-1-23       3
1940-1-24       3
1940-1-28       3
1940-1-5        3
1940-1-27       3
1940-1-4        3
1940-1-14       3
1940-1-26       3
1940-1-13       3
1940-1-7        3
1940-1-9        3
1940-1-19       3
1940-1-2        3
1940-1-3        3
1940-1-20       3
1940-1-21       3
1940-1-11       3
1940-1-17       3
1940-1-6        3
1940-1-10       3
1940-12-25      3
1940-1-31       3
1940-1-1        3
1940-1-30       3
1940-1-15       3
1940-1-16       3
Name: Date, dtype: int64

In [42]:
date.size # the size of the column using the size method

119040

In [43]:
date.shape # the size of the column given as a vector

(119040,)

In [45]:
len(date) # a third way to get the size of the column

119040

In [46]:
date.count() # the amount of non-missing values

119040

In [47]:
Max_temp.count() # the amount of non-missing values

119040

In [48]:
# summary statistics

date.min()

'1940-1-1'

In [49]:
date.max()

'1945-9-9'

In [51]:
Max_temp.mean()

27.045110887088217

In [52]:
Max_temp.std()

8.717816648550292

In [54]:
# using the describe method on the float 64 field Max_temp

Max_temp.describe()

count    119040.000000
mean         27.045111
std           8.717817
min         -33.333333
25%          25.555556
50%          29.444444
75%          31.666667
max          50.000000
Name: MaxTemp, dtype: float64

In [56]:
#using the describe method on the Object field date

date.describe()

count        119040
unique         2192
top       1945-4-26
freq            122
Name: Date, dtype: object

In [58]:
# quantile

Max_temp.quantile([.1,.2,.3,.4,.5,.6,.7,.8,.9])

0.1    16.111111
0.2    23.333333
0.3    26.666667
0.4    28.333333
0.5    29.444444
0.6    30.000000
0.7    31.111111
0.8    32.222222
0.9    33.888889
Name: MaxTemp, dtype: float64

In [60]:
Max_temp.isnull() # isnull returns a series of booleans to let us know whether there null values

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
119010    False
119011    False
119012    False
119013    False
119014    False
119015    False
119016    False
119017    False
119018    False
119019    False
119020    False
119021    False
119022    False
119023    False
119024    False
119025    False
119026    False
119027    False
119028    False
119029    False
119030    False
119031    False
119032    False
119033    False
119034    False
119035    False
119036    False
119037    False
119038    False
119039    False
Name: MaxTemp, dtype: bool

In [61]:
# we can replace all missing values using a fillna method

In [62]:
# to remove the series elements with missing values , using dropna

In [64]:
# using value counts and the setting the attribute Normalized=True we get the relative 
# frequencies

date.value_counts(normalize=True)

1945-4-26     0.001025
1945-4-19     0.001025
1945-4-24     0.001025
1945-4-22     0.001025
1945-4-25     0.001025
1945-4-23     0.001025
1945-4-29     0.001025
1945-4-20     0.001025
1945-4-27     0.001025
1945-4-16     0.001025
1945-4-17     0.001025
1945-4-14     0.001016
1945-4-18     0.001016
1945-4-12     0.001016
1945-4-6      0.001016
1945-4-11     0.001016
1945-4-1      0.001016
1945-4-21     0.001016
1945-4-13     0.001016
1945-3-12     0.001016
1945-4-5      0.001016
1945-3-11     0.001016
1945-4-2      0.001016
1945-4-28     0.001016
1945-3-17     0.001008
1945-3-23     0.001008
1945-3-13     0.001008
1945-4-4      0.001008
1945-3-25     0.001008
1945-4-15     0.001008
                ...
1940-1-12     0.000025
1940-1-25     0.000025
1940-1-22     0.000025
1940-1-18     0.000025
1940-1-23     0.000025
1940-1-24     0.000025
1940-1-28     0.000025
1940-1-5      0.000025
1940-1-27     0.000025
1940-1-4      0.000025
1940-1-14     0.000025
1940-1-26     0.000025
1940-1-13     0.000025
1940-1-7      0.000025
1940-1-9      0.000025
1940-1-19     0.000025
1940-1-2      0.000025
1940-1-3      0.000025
1940-1-20     0.000025
1940-1-21     0.000025
1940-1-11     0.000025
1940-1-17     0.000025
1940-1-6      0.000025
1940-1-10     0.000025
1940-12-25    0.000025
1940-1-31     0.000025
1940-1-1      0.000025
1940-1-30     0.000025
1940-1-15     0.000025
1940-1-16     0.000025
Name: Date, dtype: float64

In [65]:
# we can check for null values in the the date column by using hasnans attribute

date.hasnans

False

In [66]:
# we can also check for null values in the date column

Max_temp.hasnans

False

In [67]:
# there is a complement for isnull method which is is not null

date.notnull()

0         True
1         True
2         True
3         True
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
          ...
119010    True
119011    True
119012    True
119013    True
119014    True
119015    True
119016    True
119017    True
119018    True
119019    True
119020    True
119021    True
119022    True
119023    True
119024    True
119025    True
119026    True
119027    True
119028    True
119029    True
119030    True
119031    True
119032    True
119033    True
119034    True
119035    True
119036    True
119037    True
119038    True
119039    True
Name: Date, dtype: bool

# Using Operators on a Series

In [68]:
5+9

14

In [69]:
4**2

16

In [70]:
a=10

In [71]:
5<=9

True

In [72]:
'abcde'+'fg'

'abcdefg'

In [73]:
not (5<=9)

False

In [74]:
7 in [1,2,6]

False

In [75]:
set([1,2,3])&set([2,3,4])

{2, 3}

In [76]:
# not all operators are implemented for every data type

[1,2,3]-3

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [77]:
a=set([1,2,3])
a[0]

TypeError: 'set' object does not support indexing

In [78]:
# using operations on series

Max_temp + 1

0         26.555556
1         29.888889
2         27.111111
3         27.666667
4         27.666667
5         27.666667
6         29.333333
7         27.666667
8         28.222222
9         26.555556
10        26.555556
11        25.444444
12        27.111111
13        27.111111
14        26.555556
15        27.111111
16        29.333333
17        27.666667
18        28.777778
19        27.111111
20        25.444444
21        25.444444
22        27.666667
23        28.222222
24        28.222222
25        26.555556
26        26.555556
27        27.666667
28        27.666667
29        28.222222
            ...
119010    29.333333
119011    28.777778
119012    30.444444
119013    22.111111
119014    28.222222
119015    28.222222
119016    27.111111
119017    31.555556
119018    31.000000
119019    29.888889
119020    31.555556
119021    33.222222
119022    32.111111
119023    31.555556
119024    30.444444
119025    29.888889
119026    31.555556
119027    26.555556
119028    27.666667
119029    29.888889
119030    29.888889
119031    29.333333
119032    29.333333
119033    29.888889
119034    30.444444
119035    29.333333
119036    30.444444
119037    29.333333
119038    29.333333
119039    30.444444
Name: MaxTemp, dtype: float64

In [79]:
Max_temp * 10

0         255.555556
1         288.888889
2         261.111111
3         266.666667
4         266.666667
5         266.666667
6         283.333333
7         266.666667
8         272.222222
9         255.555556
10        255.555556
11        244.444444
12        261.111111
13        261.111111
14        255.555556
15        261.111111
16        283.333333
17        266.666667
18        277.777778
19        261.111111
20        244.444444
21        244.444444
22        266.666667
23        272.222222
24        272.222222
25        255.555556
26        255.555556
27        266.666667
28        266.666667
29        272.222222
             ...
119010    283.333333
119011    277.777778
119012    294.444444
119013    211.111111
119014    272.222222
119015    272.222222
119016    261.111111
119017    305.555556
119018    300.000000
119019    288.888889
119020    305.555556
119021    322.222222
119022    311.111111
119023    305.555556
119024    294.444444
119025    288.888889
119026    305.555556
119027    255.555556
119028    266.666667
119029    288.888889
119030    288.888889
119031    283.333333
119032    283.333333
119033    288.888889
119034    294.444444
119035    283.333333
119036    294.444444
119037    283.333333
119038    283.333333
119039    294.444444
Name: MaxTemp, dtype: float64

In [81]:
Max_temp //5

0         5.0
1         5.0
2         5.0
3         5.0
4         5.0
5         5.0
6         5.0
7         5.0
8         5.0
9         5.0
10        5.0
11        4.0
12        5.0
13        5.0
14        5.0
15        5.0
16        5.0
17        5.0
18        5.0
19        5.0
20        4.0
21        4.0
22        5.0
23        5.0
24        5.0
25        5.0
26        5.0
27        5.0
28        5.0
29        5.0
         ...
119010    5.0
119011    5.0
119012    5.0
119013    4.0
119014    5.0
119015    5.0
119016    5.0
119017    6.0
119018    6.0
119019    5.0
119020    6.0
119021    6.0
119022    6.0
119023    6.0
119024    5.0
119025    5.0
119026    6.0
119027    5.0
119028    5.0
119029    5.0
119030    5.0
119031    5.0
119032    5.0
119033    5.0
119034    5.0
119035    5.0
119036    5.0
119037    5.0
119038    5.0
119039    5.0
Name: MaxTemp, dtype: float64

In [82]:
Max_temp % 5

0         0.555556
1         3.888889
2         1.111111
3         1.666667
4         1.666667
5         1.666667
6         3.333333
7         1.666667
8         2.222222
9         0.555556
10        0.555556
11        4.444444
12        1.111111
13        1.111111
14        0.555556
15        1.111111
16        3.333333
17        1.666667
18        2.777778
19        1.111111
20        4.444444
21        4.444444
22        1.666667
23        2.222222
24        2.222222
25        0.555556
26        0.555556
27        1.666667
28        1.666667
29        2.222222
            ...
119010    3.333333
119011    2.777778
119012    4.444444
119013    1.111111
119014    2.222222
119015    2.222222
119016    1.111111
119017    0.555556
119018    0.000000
119019    3.888889
119020    0.555556
119021    2.222222
119022    1.111111
119023    0.555556
119024    4.444444
119025    3.888889
119026    0.555556
119027    0.555556
119028    1.666667
119029    3.888889
119030    3.888889
119031    3.333333
119032    3.333333
119033    3.888889
119034    4.444444
119035    3.333333
119036    4.444444
119037    3.333333
119038    3.333333
119039    4.444444
Name: MaxTemp, dtype: float64

In [85]:
Max_temp > 28

0         False
1          True
2         False
3         False
4         False
5         False
6          True
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16         True
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
119010     True
119011    False
119012     True
119013    False
119014    False
119015    False
119016    False
119017     True
119018     True
119019     True
119020     True
119021     True
119022     True
119023     True
119024     True
119025     True
119026     True
119027    False
119028    False
119029     True
119030     True
119031     True
119032     True
119033     True
119034     True
119035     True
119036     True
119037     True
119038     True
119039     True
Name: MaxTemp, dtype: bool

In [86]:
Max_temp == 28

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
119010    False
119011    False
119012    False
119013    False
119014    False
119015    False
119016    False
119017    False
119018    False
119019    False
119020    False
119021    False
119022    False
119023    False
119024    False
119025    False
119026    False
119027    False
119028    False
119029    False
119030    False
119031    False
119032    False
119033    False
119034    False
119035    False
119036    False
119037    False
119038    False
119039    False
Name: MaxTemp, dtype: bool

In [87]:
# the common operations +,-,*,>,== etc. have the methods e.g

Max_temp.add(6) #Max_temp + 6

0         31.555556
1         34.888889
2         32.111111
3         32.666667
4         32.666667
5         32.666667
6         34.333333
7         32.666667
8         33.222222
9         31.555556
10        31.555556
11        30.444444
12        32.111111
13        32.111111
14        31.555556
15        32.111111
16        34.333333
17        32.666667
18        33.777778
19        32.111111
20        30.444444
21        30.444444
22        32.666667
23        33.222222
24        33.222222
25        31.555556
26        31.555556
27        32.666667
28        32.666667
29        33.222222
            ...
119010    34.333333
119011    33.777778
119012    35.444444
119013    27.111111
119014    33.222222
119015    33.222222
119016    32.111111
119017    36.555556
119018    36.000000
119019    34.888889
119020    36.555556
119021    38.222222
119022    37.111111
119023    36.555556
119024    35.444444
119025    34.888889
119026    36.555556
119027    31.555556
119028    32.666667
119029    34.888889
119030    34.888889
119031    34.333333
119032    34.333333
119033    34.888889
119034    35.444444
119035    34.333333
119036    35.444444
119037    34.333333
119038    34.333333
119039    35.444444
Name: MaxTemp, dtype: float64

In [88]:
#

Max_temp.mul(2.5) # Max_temp*2.5

0         63.888889
1         72.222222
2         65.277778
3         66.666667
4         66.666667
5         66.666667
6         70.833333
7         66.666667
8         68.055556
9         63.888889
10        63.888889
11        61.111111
12        65.277778
13        65.277778
14        63.888889
15        65.277778
16        70.833333
17        66.666667
18        69.444444
19        65.277778
20        61.111111
21        61.111111
22        66.666667
23        68.055556
24        68.055556
25        63.888889
26        63.888889
27        66.666667
28        66.666667
29        68.055556
            ...
119010    70.833333
119011    69.444444
119012    73.611111
119013    52.777778
119014    68.055556
119015    68.055556
119016    65.277778
119017    76.388889
119018    75.000000
119019    72.222222
119020    76.388889
119021    80.555556
119022    77.777778
119023    76.388889
119024    73.611111
119025    72.222222
119026    76.388889
119027    63.888889
119028    66.666667
119029    72.222222
119030    72.222222
119031    70.833333
119032    70.833333
119033    72.222222
119034    73.611111
119035    70.833333
119036    73.611111
119037    70.833333
119038    70.833333
119039    73.611111
Name: MaxTemp, dtype: float64

In [90]:
Max_temp.eq(28) # Max_temp == 28

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
119010    False
119011    False
119012    False
119013    False
119014    False
119015    False
119016    False
119017    False
119018    False
119019    False
119020    False
119021    False
119022    False
119023    False
119024    False
119025    False
119026    False
119027    False
119028    False
119029    False
119030    False
119031    False
119032    False
119033    False
119034    False
119035    False
119036    False
119037    False
119038    False
119039    False
Name: MaxTemp, dtype: bool

In [91]:
# special objects 5*3 is actually 5.__mul__(3)

# Method chaining with pandas

In [94]:
snow_fall = weather_data["Snowfall"]

In [95]:
snow_fall.value_counts().head(4)

0.0     86090
0       29600
5.08      527
7.62      319
Name: Snowfall, dtype: int64

In [97]:
wnd_gust_spd = weather_data["WindGustSpd"]

wnd_gust_spd.isnull().sum()

118508

In [99]:
wnd_gust_spd.notnull().sum()

532

In [ ]:
# data set inadequate to reproduce text book formulas