In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline

In [6]:
wine_data = pd.read_csv("C:/Users/Boston/Documents/GitHub/wine-reviews/winemag_data_first_150k.csv")
wine_data.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [7]:
wine_data.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')

In [8]:
# practicing selecting multiple data frames  of a column 
# I made a table of columns of the location based statistics


wine_location_crit = wine_data[['country','province','region_1','region_2']]

wine_location_crit.head()

  country        province           region_1           region_2
0      US      California        Napa Valley               Napa
1   Spain  Northern Spain               Toro                NaN
2      US      California     Knights Valley             Sonoma
3      US          Oregon  Willamette Valley  Willamette Valley
4  France        Provence             Bandol                NaN

In [10]:
# double square brackets turns a series into a data frame 

wine_location_crit[["country"]].head()

  country
0      US
1   Spain
2      US
3      US
4  France

In [12]:
# passing a long  list inside the indexing operator might readabilty issues , can save column names into a list first

# making the same table as above

locations = ['country','province','region_1','region_2']

wine_location_crit_2 = wine_data[locations]

wine_location_crit_2.head()

  country        province           region_1           region_2
0      US      California        Napa Valley               Napa
1   Spain  Northern Spain               Toro                NaN
2      US      California     Knights Valley             Sonoma
3      US          Oregon  Willamette Valley  Willamette Valley
4  France        Provence             Bandol                NaN

# Using methods to select columns

In [14]:
wine_data.get_dtype_counts()

float64    1
int64      2
object     8
dtype: int64

In [15]:
wine_data.select_dtypes(include=['int64']).head() # select_dtypes


# we have created a dataframe by choosing a specific data type , in this case 'int64'

   Unnamed: 0  points
0           0      96
1           1      96
2           2      96
3           3      96
4           4      95

In [16]:
# selecting all numeric columns

wine_data.select_dtypes(include=['number']).head()

   Unnamed: 0  points  price
0           0      96  235.0
1           1      96  110.0
2           2      96   90.0
3           3      96   65.0
4           4      95   66.0

In [17]:
# we can also use the filter method to automatically select relevant columns based on a name

wine_data.filter(like='region').head()

            region_1           region_2
0        Napa Valley               Napa
1               Toro                NaN
2     Knights Valley             Sonoma
3  Willamette Valley  Willamette Valley
4             Bandol                NaN

In [20]:
# we can further use the regex parameter for a more thorough search

wine_data.filter(regex='\d').head()

# in this case we have searched for all the column names that include a digit within them

   Unnamed: 0           region_1           region_2
0           0        Napa Valley               Napa
1           1               Toro                NaN
2           2     Knights Valley             Sonoma
3           3  Willamette Valley  Willamette Valley
4           4             Bandol                NaN

In [22]:
wine_data.filter(items=['actor_1_name','region_1'])

# items does not give an error message for the string that is not a column name within the data

                          region_1
0                      Napa Valley
1                             Toro
2                   Knights Valley
3                Willamette Valley
4                           Bandol
5                             Toro
6                             Toro
7                             Toro
8               Chehalem Mountains
9                     Sonoma Coast
10                          Collio
11                    Ribbon Ridge
12                    Dundee Hills
13                         Madiran
14                    Dundee Hills
15               Willamette Valley
16       Diamond Mountain District
17                Ribera del Duero
18                          Cahors
19                    Sonoma Coast
20                     Napa Valley
21                           Rioja
22                            Toro
23                     Edna Valley
24            Santa Cruz Mountains
25                             NaN
26               Willamette Valley
27               Willamette Valley
28           Santa Lucia Highlands
29         Walla Walla Valley (WA)
...                            ...
150900                         NaN
150901                         NaN
150902                         NaN
150903                         NaN
150904                         NaN
150905                         NaN
150906               Vosne-Romanée
150907               Vosne-Romanée
150908               Vosne-Romanée
150909           Nuits-St.-Georges
150910           Chambolle-Musigny
150911           Nuits-St.-Georges
150912           Chambolle-Musigny
150913         Châteauneuf-du-Pape
150914             Anderson Valley
150915                 North Coast
150916                 Napa Valley
150917                   Champagne
150918                   Champagne
150919                   Champagne
150920                      Trento
150921                   Champagne
150922  Colli Orientali del Friuli
150923                   Champagne
150924                   Champagne
150925           Fiano di Avellino
150926                   Champagne
150927           Fiano di Avellino
150928                   Champagne
150929                  Alto Adige

[150930 rows x 1 columns]

# Formatting the order of columns

In [23]:
wine_data.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [24]:
wine_data.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')

In [25]:
# its preferred to place the most important columns first to the left with categorical columns first the numerical columns later

In [31]:
wine_loc = ['winery', 'country','province','region_1','region_2']
wine_det = ['description','designation','variety','price']


new_cols = wine_loc  + wine_det

In [33]:
wine_data_new=wine_data[new_cols]
wine_data_new.head()

# new order of the columns

,winery,country,province,region_1,region_2,description,designation,variety,price
0,Heitz,US,California,Napa Valley,Napa,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,Cabernet Sauvignon,235.0
1,Bodega Carmen Rodríguez,Spain,Northern Spain,Toro,NaN,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,Tinta de Toro,110.0
2,Macauley,US,California,Knights Valley,Sonoma,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,Sauvignon Blanc,90.0
3,Ponzi,US,Oregon,Willamette Valley,Willamette Valley,"This spent 20 months in 30% new French oak, an...",Reserve,Pinot Noir,65.0
4,Domaine de la Bégude,France,Provence,Bandol,NaN,"This is the top wine from La Bégude, named aft...",La Brûlade,Provence red blend,66.0

# Operating on the entire Dataframe

In [34]:
wine_data.shape

(150930, 11)

In [35]:
wine_data.size

1660230

In [36]:
wine_data.ndim

2

In [38]:
len(wine_data)

150930

In [39]:
# previously we have just gotten basic descriptive attributes shape,size and ndim

In [40]:
wine_data.count()

Unnamed: 0     150930
country        150925
description    150930
designation    105195
points         150930
price          137235
province       150925
region_1       125870
region_2        60953
variety        150930
winery         150930
dtype: int64

In [41]:
wine_data.min()

Unnamed: 0     0.0
points        80.0
price          4.0
dtype: float64

In [42]:
wine_data.describe()

C:\Users\Boston\Anaconda3a\lib\site-packages\numpy\lib\function_base.py:4291: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

          Unnamed: 0         points          price
count  150930.000000  150930.000000  137235.000000
mean    75464.500000      87.888418      33.131482
std     43569.882402       3.222392      36.322536
min         0.000000      80.000000       4.000000
25%     37732.250000      86.000000            NaN
50%     75464.500000      88.000000            NaN
75%    113196.750000      90.000000            NaN
max    150929.000000     100.000000    2300.000000

In [43]:
wine_data.describe(percentiles=[.01,.3,.99])

C:\Users\Boston\Anaconda3a\lib\site-packages\numpy\lib\function_base.py:4291: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

          Unnamed: 0         points          price
count  150930.000000  150930.000000  137235.000000
mean    75464.500000      87.888418      33.131482
std     43569.882402       3.222392      36.322536
min         0.000000      80.000000       4.000000
1%       1509.290000      81.000000            NaN
30%     45278.700000      86.000000            NaN
50%     75464.500000      88.000000            NaN
99%    149419.710000      95.000000            NaN
max    150929.000000     100.000000    2300.000000

In [44]:
# pandas is able to skip missing numerical values , to disable this we can set skipna=false
# this in turn will return NaN for any calculation with a missing value

# Combining Data frame methods together

In [46]:
wine_data.isnull().head() # checking for nulls in the Dataframe

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,False

In [47]:
wine_data.isnull().sum().head() # counting the nulls in each column

Unnamed: 0         0
country            5
description        0
designation    45735
points             0
dtype: int64

In [48]:
wine_data.isnull().sum().sum() # counting nulls in the entire dataset

174477

In [49]:
wine_data.isnull().any().any() # checking if there are any nulls within the data set

True